<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PocketCRM for Vtiger.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>819EFB7005AADE38AF02ACAA4B60ED79F48B4F48</string>
				<key>dateExpires</key>
				<string>18/08/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>819EFB7005AADE38AF02ACAA4B60ED79F48B4F48</string>
						<key>dateExpires</key>
						<string>18/08/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>995KLR8FLJ</string>
						<key>name</key>
						<string>Smackcoders Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>819EFB7005AADE38AF02ACAA4B60ED79F48B4F48</string>
						<key>dateExpires</key>
						<string>18/08/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>995KLR8FLJ</string>
						<key>name</key>
						<string>Smackcoders Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>819EFB7005AADE38AF02ACAA4B60ED79F48B4F48</string>
						<key>dateExpires</key>
						<string>18/08/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>995KLR8FLJ</string>
						<key>name</key>
						<string>Smackcoders Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>819EFB7005AADE38AF02ACAA4B60ED79F48B4F48</string>
						<key>dateExpires</key>
						<string>18/08/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>995KLR8FLJ</string>
						<key>name</key>
						<string>Smackcoders Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>819EFB7005AADE38AF02ACAA4B60ED79F48B4F48</string>
						<key>dateExpires</key>
						<string>18/08/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>995KLR8FLJ</string>
						<key>name</key>
						<string>Smackcoders Technologies Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>995KLR8FLJ.com.smackcoders.pocketvtiger</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>995KLR8FLJ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>995KLR8FLJ.com.smackcoders.pocketvtiger</string>
				</array>
			</dict>
			<key>name</key>
			<string>PocketCRM for Vtiger.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>37a55dcc-cd23-4ff7-9f5b-0709ca0e93b0</string>
				<key>name</key>
				<string>VtigerAppDistributeProfile</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>995KLR8FLJ</string>
				<key>name</key>
				<string>Smackcoders Technologies Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
