<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv3mK_gLBimzG-afIsMX2VNWGDakPTbHY</string>
	<key>GCM_SENDER_ID</key>
	<string>288604688877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplycrm.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>simply-mobile-push-messages</string>
	<key>STORAGE_BUCKET</key>
	<string>simply-mobile-push-messages.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288604688877:ios:1a70073504308f6c5cd7e4</string>
</dict>
</plist>